In [ ]:
import numpy as np
import pandas as pd

o1 = pd.read_csv('M4.csv')
o2 = pd.read_csv('T3.csv')

df1 = pd.DataFrame(o1,columns = ['VISIT_NO',"STATE_CODE",'STATE_CODE_EXP',
                                 "SHRP_ID",'CONSTRUCTION_NO','VISIT_DATE',"IRI",'IMP_DATE','IMP_TYPE_EXP','IMP_THICKNESS'
                                 ,'IRI PREVIOUS','TIME PASSED SINCE LAST REHABILITATION','TIME PASSED FROM PREVIOUS IRI'
                             ])
df2 = pd.DataFrame(o2,columns = ["STATE_CODE","SHRP_ID",'CONSTRUCTION_NO',"DESCRIPTION_EXP","TOTAL_THICKNESS",
                                 "AC LAYER_THICKNESS", "OVERLAY_THICKNESS"])
#
#df1 = pd.DataFrame(o1,columns = ['CONSTRUCTION_NO1','VISIT_DATE','VISIT_DATE_YEAR','VISIT_DATE_MONTH','VISIT_NO',"STATE_CODE",'STATE_CODE_EXP',
 #                                "SHRP_ID","IRI",'IMP_DATE','IMP_TYPE_EXP','CONSTRUCTION_NO2','IMP_THICKNESS'
  #                               ,'IRI Previous','Time Passed Since Last Rehabilitation','Time Passed Since Previous IRI'
   #                            ,'MERRA_ID', "TEMP_MEAN_AVG", 'FREEZE_INDEX','PRECIPITATION',"ANNUAL_ESAL_TREND","CESAL"])
#df2 = pd.DataFrame(o2,columns = ["STATE_CODE","SHRP_ID",'CONSTRUCTION_NO1',"TOTAL_THICKNESS", "AC LAYER_THICKNESS", "Overlay_THICKNESS"])

In [ ]:
import numpy as np
import pandas as pd

o1 = pd.read_csv('M4.csv')
o2 = pd.read_csv('T3.csv')

df1 = pd.DataFrame(o1,columns = ['VISIT_NO','VISIT_DATE',"YEAR","STATE_CODE",'STATE_CODE_EXP',
                                 "SHRP_ID",'CONSTRUCTION_NO',"MERRA_ID","MRI",'IRI0','AGE',"TEMP_MEAN_AVG", 'FREEZE_INDEX','PRECIPITATION'
                                 ,"ANNUAL_ESAL_TREND"
                             ])
df2 = pd.DataFrame(o2,columns = ["STATE_CODE","SHRP_ID","TOTAL_THICKNESS",
                                 "AC LAYER_THICKNESS"])
#

In [ ]:
df1

,VISIT_NO,VISIT_DATE,YEAR,STATE_CODE,STATE_CODE_EXP,SHRP_ID,CONSTRUCTION_NO,MERRA_ID,MRI,IRI0,AGE,TEMP_MEAN_AVG,FREEZE_INDEX,PRECIPITATION,ANNUAL_ESAL_TREND
0,1100101,8/8/1990,1990,1,Alabama,1001,1,135513,0.86,0.86,0.00,19,2,779,241980
1,1100103,7/28/1992,1992,1,Alabama,1001,1,135513,0.93,0.86,1.97,17,2,1399,258129
2,1100104,10/22/1992,1992,1,Alabama,1001,1,135513,0.92,0.86,2.21,17,2,1399,258129
3,1100105,1/13/1993,1993,1,Alabama,1001,1,135513,0.90,0.86,2.44,17,4,1280,263292
4,1101901,6/5/1990,1990,1,Alabama,1019,1,134356,1.37,1.37,0.00,20,4,1045,58214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,90641215,10/14/2004,2004,90,Saskatchewan,6412,4,157942,1.18,0.82,12.13,3,1341,666,224365
959,90642001,5/31/1990,1990,90,Saskatchewan,6420,1,155645,2.88,2.88,0.00,3,1535,424,40238
960,90642002,7/17/1991,1991,90,Saskatchewan,6420,1,155645,2.91,2.88,1.13,4,1505,564,40238
961,90642003,8/28/1992,1992,90,Saskatchewan,6420,2,155645,3.35,2.88,2.25,3,1267,504,29819
962,90642004,6/12/1993,1993,90,Saskatchewan,6420,3,155645,3.79,2.88,3.04,3,1431,580,29702

In [ ]:
df2

     STATE_CODE  SHRP_ID  TOTAL_THICKNESS  AC LAYER_THICKNESS
0             1     1001            728.9                66.0
1             1     1019            304.8                88.9
2             1     4127            398.8               210.8
3             1     4129            538.4                76.2
4             1     4155            358.2                94.0
..          ...      ...              ...                 ...
213          89     1127           1135.5               124.5
214          90     6405            363.2                71.1
215          90     6410            355.6               116.8
216          90     6412            360.7               111.8
217          90     6420            185.4               185.4

[218 rows x 4 columns]

In [ ]:
df = df1.merge(df2, on=('STATE_CODE',"SHRP_ID"), how='left')

In [ ]:
df

,VISIT_NO,VISIT_DATE,YEAR,STATE_CODE,STATE_CODE_EXP,SHRP_ID,CONSTRUCTION_NO,MERRA_ID,MRI,IRI0,AGE,TEMP_MEAN_AVG,FREEZE_INDEX,PRECIPITATION,ANNUAL_ESAL_TREND,TOTAL_THICKNESS,AC LAYER_THICKNESS
0,1100101,8/8/1990,1990,1,Alabama,1001,1,135513,0.86,0.86,0.00,19,2,779,241980,728.9,66.0
1,1100103,7/28/1992,1992,1,Alabama,1001,1,135513,0.93,0.86,1.97,17,2,1399,258129,728.9,66.0
2,1100104,10/22/1992,1992,1,Alabama,1001,1,135513,0.92,0.86,2.21,17,2,1399,258129,728.9,66.0
3,1100105,1/13/1993,1993,1,Alabama,1001,1,135513,0.90,0.86,2.44,17,4,1280,263292,728.9,66.0
4,1101901,6/5/1990,1990,1,Alabama,1019,1,134356,1.37,1.37,0.00,20,4,1045,58214,304.8,88.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,90641215,10/14/2004,2004,90,Saskatchewan,6412,4,157942,1.18,0.82,12.13,3,1341,666,224365,360.7,111.8
959,90642001,5/31/1990,1990,90,Saskatchewan,6420,1,155645,2.88,2.88,0.00,3,1535,424,40238,185.4,185.4
960,90642002,7/17/1991,1991,90,Saskatchewan,6420,1,155645,2.91,2.88,1.13,4,1505,564,40238,185.4,185.4
961,90642003,8/28/1992,1992,90,Saskatchewan,6420,2,155645,3.35,2.88,2.25,3,1267,504,29819,185.4,185.4
962,90642004,6/12/1993,1993,90,Saskatchewan,6420,3,155645,3.79,2.88,3.04,3,1431,580,29702,185.4,185.4

In [ ]:
df.to_csv("M5.csv")